[Desktop Entry]
Name=2048 for COSMIC Desktop
Exec=cosmic-ext-2048 %F
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.Kartonrealista.cosmic-ext-2048
Categories=COSMIC;
Keywords=Game;
MimeType=inode/directory;
